<div class="intro">
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph1" | translate}}</span>
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph2" | translate}}</span>
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph3" | translate}}</span>
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph4" | translate}}</span>
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph5" | translate}}</span>
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph6" | translate: {protagonistName} }}</span>
  <span class="intro-paragraph" [ngClass]="{hide: hide}">{{"intro.paragraph7" | translate}}.</span>
</div>
