.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--menu-first-tile-background);
  background-image: repeating-linear-gradient(45deg, var(--menu-second-tile-background) 25%, transparent 25%, transparent 75%, var(--menu-second-tile-background) 75%, var(--menu-second-tile-background)),
                    repeating-linear-gradient(45deg, var(--menu-second-tile-background) 25%, transparent 25%, transparent 75%, var(--menu-second-tile-background) 75%, var(--menu-second-tile-background));
  background-position: 0 0, 2.375rem 2.375rem;
  background-size: calc(2 * 2.375rem) calc(2 * 2.375rem);
  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    animation-name: vanish;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  &-load {
    position: absolute;
    top: 4.75rem;
    width: calc(100% - 4.75rem);
  }
  &-text-speed {
    position: absolute;
    top: 33.25rem;
    left: 7.125rem;
    width: 38rem;
  }
  &-difficulty {
    position: absolute;
    top: 35.625rem;
    left: 19.125rem;
  }
  &-character {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9.5rem;
    width: calc(100% - 4.75rem);
    &-image {
      height: 7.125rem;
      margin: 0 2.375rem 0 0;
      animation-name: appearRight;
      animation-duration: .5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      &.leave {
        animation-name: disappearLeft;
      }
      &.leave-no-rotate {
        animation-name: disappearLeftNoRotate;
      }
    }
    &-input {
      width: 19.5rem;
      height: 9.5rem;
    }
    &-help {
      width: 41rem;
      height: 9.5rem;
    }
  }
}

@keyframes appearRight {
  from {
    transform: translateX(-10rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes disappearLeft {
  from {
    transform: translateX(0) rotateY(180deg);
  }
  to {
    transform: translateX(-10rem) rotateY(180deg);
  }
}

@keyframes disappearLeftNoRotate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10rem);
  }
}