<div class="menu">
  <div class="menu-overlay"></div>
  <div class="menu-load">
    <app-selection-dialog *ngIf="dialogsVisible.load" [config]="loadConfig" [reset]="resetLoad" (selected)="manageLoadSelected($event)"></app-selection-dialog>
  </div>
  <div class="menu-text-speed">
    <app-selection-dialog *ngIf="dialogsVisible.speed" [config]="speedConfig" [reset]="resetSpeed" (selected)="manageSpeedSelected($event)" (canceled)="cancelSpeedSelection()"></app-selection-dialog>
  </div>
  <div class="menu-difficulty">
    <app-selection-dialog *ngIf="dialogsVisible.difficulty" [config]="difficultyConfig" [reset]="resetDifficulty" (selected)="manageDifficultySelected($event)" (canceled)="cancelDifficultySelection()"></app-selection-dialog>
  </div>
  <div class="menu-character" *ngIf="dialogsVisible.input">
    <img
      class="menu-character-image"
      [ngClass]="{leave: characterAnimation.direction === 'left', 'leave-no-rotate': characterAnimation.direction === 'left' && inputId > 4}"
      src="../../assets/images/menu/{{characterAnimation.name}}-walking-{{characterAnimation.direction === 'left' ? 'right' : characterAnimation.direction}}-{{characterAnimation.sprite}}.png"
    >
    <div class="menu-character-input">
      <app-input-dialog [config]="inputConfig" [focus]="inputFocus" (confirmed)="manageInputConfirmed($event)"></app-input-dialog>
    </div>
    <div class="menu-character-help">
      <app-text-dialog [config]="textConfig" [text]="helpText" (finished)="manageTextFinished()"></app-text-dialog>
    </div>
  </div>
</div>

