.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #6baede;
  background-image: repeating-linear-gradient(45deg, #84df94 25%, transparent 25%, transparent 75%, #84df94 75%, #84df94),repeating-linear-gradient(45deg, #84df94 25%, transparent 25%, transparent 75%, #84df94 75%, #84df94);
  background-position: 0 0, 38px 38px;
  background-size: calc(2 * 38px) calc(2 * 38px);
  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    animation-name: vanish;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
  }
}