<div class="menu">
  <div class="menu-overlay" [ngClass]="{show: overlay}"></div>
  <div class="menu-load">
    <app-selection-dialog *ngIf="dialogsVisible.load" [config]="loadConfig" [reset]="dialogsReset.load" (selected)="manageLoadSelected($event)"></app-selection-dialog>
  </div>
  <div class="menu-continue" *ngIf="dialogsVisible.continue">
    <app-grid-dialog [config]="continueGridConfig" [reset]="dialogsReset.continue" (selected)="manageContinue($event)" (canceled)="cancelContinue()"></app-grid-dialog>
  </div>
  <div class="menu-copy" *ngIf="dialogsVisible.copy">
    <app-selection-dialog [config]="copyConfig" (selected)="manageCopyLocation($event)" (canceled)="cancelCopy()"></app-selection-dialog>
  </div>
  <div class="menu-delete" *ngIf="dialogsVisible.delete">
    <app-selection-dialog [config]="deleteConfig" (selected)="manageDelete($event)" (canceled)="cancelDelete()"></app-selection-dialog>
  </div>
  <div class="menu-text-speed" *ngIf="dialogsVisible.speed">
    <app-selection-dialog [config]="speedConfig" [reset]="dialogsReset.speed" (selected)="manageSpeedSelected($event)" (canceled)="cancelSpeedSelection()"></app-selection-dialog>
  </div>
  <div class="menu-difficulty" *ngIf="dialogsVisible.difficulty">
    <app-selection-dialog [config]="difficultyConfig" (selected)="manageDifficultySelected($event)" (canceled)="cancelDifficultySelection()"></app-selection-dialog>
  </div>
  <div class="menu-character" *ngIf="dialogsVisible.input">
    <img
      class="menu-character-image"
      [ngClass]="{leave: characterAnimation.direction === 'left', 'leave-no-rotate': characterAnimation.direction === 'left' && inputId > 4}"
      src="../../assets/images/menu/{{characterAnimation.name}}-walking-{{characterAnimation.direction === 'left' ? 'right' : characterAnimation.direction}}-{{characterAnimation.sprite}}.png"
    >
    <div class="menu-character-input">
      <app-input-dialog [config]="inputConfig" [focus]="inputFocus" (confirmed)="manageInputConfirmed($event)"></app-input-dialog>
    </div>
    <div class="menu-character-help">
      <app-text-dialog [config]="textConfig" [text]="helpText" (finished)="manageTextFinished()"></app-text-dialog>
    </div>
  </div>
  <div class="menu-summary" *ngIf="dialogsVisible.summary">
    <div class="menu-summary-names">
      <div class="menu-summary-names-characters">
        <div class="menu-summary-names-characters-character" *ngFor="let character of characterOriginalNames; let i = index">
          <img class="menu-summary-names-characters-character-image" src="../../assets/images/menu/{{character}}-walking-bottom-{{characterAnimation.sprite}}.png">
          <div class="menu-summary-names-characters-character-dialog">
            <app-text-dialog [config]="textConfig" [text]="menuConfig.inputs[i].inputConfig.value"></app-text-dialog>
          </div>
        </div>
      </div>
      <div class="menu-summary-names-things">
        <div class="menu-summary-names-things-dialog">
          <app-text-dialog [config]="textConfig" [text]="coolestThingSummary"></app-text-dialog>
        </div>
        <div class="menu-summary-names-things-dialog">
          <app-text-dialog [config]="textConfig" [text]="favoriteFoodSummary"></app-text-dialog>
        </div>
      </div>
    </div>
    <div class="menu-summary-sure">
      <app-grid-dialog [config]="confirmGridConfig" (selected)="manageConfirmation($event)" (canceled)="manageConfirmation($event)"></app-grid-dialog>
    </div>
  </div>
</div>

