.location {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 0; // !Cambiar a 1 cuando finalice el desarrollo de Location
    &.show {
      animation-name: show;
    }
  }
  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &-content {
    z-index: 0;
    &-menu {
      position: absolute;
      top: 2.125rem;
      left: 2.375rem;
      width: 31.25rem;
    }
    &-money {
      position: absolute;
      top: 23.625rem;
      left: 2.375rem;
      width: 19.25rem;
      height: 9.5rem;
    }
    &-place {
      position: absolute;
      top: 35.5rem;
      left: 2.375rem;
      width: 19.25rem;
      height: 9.5rem;
    }
    &-talk {
      position: absolute;
      top: 2.125rem;
      right: 2.375rem;
    }
    &-conversation {
      position: absolute;
      top: 2.125rem;
      right: 2.375rem;
      width: 45.75rem;
      height: 19.0625rem;
    }
  }
}