.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
  &-no-mouse {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 4rem;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &-loading,
    &-ready {
      line-height: 1;
    }
    &-ness {
      height: 3rem;
    }
  }
}