<div class="loading" (click)="showNoMouse()">
  <img class="loading-no-mouse" *ngIf="noMouse" src="../../assets/images/no-mouse.png" ondragstart="return false">
  <div class="loading-content">
    <span class="loading-content-loading" *ngIf="!ready">Cargando</span>
    <span class="loading-content-ready" *ngIf="ready">Listo</span>
    <img class="loading-content-ness" *ngIf="!ready" src="../../assets/images/ness-loading-{{loadingSprite}}.png" ondragstart="return false">
    <img class="loading-content-ness" *ngIf="ready" src="../../assets/images/ness-ready.png" ondragstart="return false">
  </div>
</div>
