@font-face {
  font-family: 'Josefin Sans';
  src: url('assets/fonts/JosefinSans-Light.ttf');
}
@font-face {
  font-family: EarthBound;
  src: url('assets/fonts/EBMain.ttf');
}

:root {
  --background: #000000;
  --initial-home-background: #000000;
  --flash-home-background: #ffffff;
  --final-home-background: #170139;
  --intro-text-color: #ffffff;
  --text-color: #f7f7bd;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-color);
  font-family: EarthBound;
  font-size: 16px;
  user-select: none;
  cursor: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 5rem;
  letter-spacing: -1px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
