@font-face {
  font-family: JosefinSans;
  src: url('assets/fonts/josefin-sans-light.ttf');
}
@font-face {
  font-family: EarthBound;
  src: url('assets/fonts/eb-main.ttf');
}
@font-face {
  font-family: Gas;
  src: url('assets/fonts/gasfont.woff');
}
@font-face {
  font-family: YearIs199X;
  src: url('assets/fonts/year-is-199x.woff');
}
@font-face {
  font-family: Onett;
  src: url('assets/fonts/onett.woff');
}
@font-face {
  font-family: Twoson;
  src: url('assets/fonts/twoson.woff');
}
@font-face {
  font-family: Fourside;
  src: url('assets/fonts/fourside.woff');
}
@font-face {
  font-family: StatusPlz;
  src: url('assets/fonts/status-plz.woff');
}
@font-face {
  font-family: BattleName;
  src: url('assets/fonts/battle-name.woff');
}
@font-face {
  font-family: Boing;
  src: url('assets/fonts/saturn-boing.woff');
}
@font-face {
  font-family: LumineHall;
  src: url('assets/fonts/lumine-hall.woff');
}
@font-face {
  font-family: CurtainCall;
  src: url('assets/fonts/curtain-call.woff');
}
@font-face {
  font-family: Debug;
  src: url('assets/fonts/debugme.woff');
}

:root {
  --background: #000000;
  --initial-home-background: #000000;
  --flash-home-background: #ffffff;
  --final-home-background: #170139;
  --home-subtitle-color: #f8f000;
  --home-text-color: #ffffff;
  --text-color: #f7f7bd;
  --menu-first-tile-background: #6baede;
  --menu-second-tile-background: #84df94;
  --dialog-background: #290829;
  --dialog-option-selected: #9451f7;
  --intro-text-color: #ffffde;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-color);
  font-family: EarthBound;
  font-size: 16px;
  user-select: none;
  // cursor: none;
}

html * {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 4.75rem;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
