<div class="home">
  <div class="home-overlay"></div>
  <div class="home-content">
    <img class="home-content-letter" src="../../assets/images/e.png">
    <img class="home-content-letter" src="../../assets/images/a.png">
    <img class="home-content-letter" src="../../assets/images/r.png">
    <img class="home-content-letter" src="../../assets/images/t.png">
    <img class="home-content-letter" src="../../assets/images/h.png">
    <img class="home-content-letter" src="../../assets/images/b.png">
    <img class="home-content-letter" src="../../assets/images/o.png">
    <img class="home-content-letter" src="../../assets/images/u.png">
    <img class="home-content-letter" src="../../assets/images/n.png">
    <img class="home-content-letter" src="../../assets/images/d.png">
    <img class="home-content-logo" src="../../assets/images/earthbound-title.png" ondragstart="return false">
  </div>
  <footer class="home-credits">
    <p class="home-credits-text">©1994, 1995 Nintendo</p>
    <p class="home-credits-text">©1994, 1995 Shigesato Itoi/Ape Inc.</p>
    <p class="home-credits-text">2022 Wildsoft</p>
  </footer>
</div>