<div class="home">
  <div class="home-overlay"></div>
  <div class="home-content">
    <img class="home-content-letter" src="../../assets/images/home/e.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/a.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/r.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/t.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/h.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/b.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/o.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/u.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/n.png" ondragstart="return false">
    <img class="home-content-letter" src="../../assets/images/home/d.png" ondragstart="return false">
    <img class="home-content-logo" src="../../assets/images/home/earthbound-title.png" ondragstart="return false">
  </div>
  <footer class="home-credits">
    <p class="home-credits-text">©1994, 1995 Nintendo</p>
    <p class="home-credits-text">©1994, 1995 Shigesato Itoi/Ape Inc.</p>
    <p class="home-credits-text">2022 Wildsoft</p>
  </footer>
</div>