.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--initial-home-background);
  animation-name: backgroundColor;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    opacity: 0;
    animation-name: show;
    animation-duration: 1s;
    animation-delay: 14.5s;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30.3%;
    position: relative;
    bottom: 5%;
    &-letter {
      position: relative;
      bottom: 2%;
      height: 57.5%;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      &:nth-child(1) {
        right: .3%;
        transform: translateX(-100rem);
        animation-name: appearLetter;
        animation-duration: .9s;
        animation-delay: 2.1s;
      }
      &:nth-child(2) {
        right: 1%;
        transform: translateX(-87.5rem);
        animation-name: appearLetter;
        animation-duration: 1.2s;
        animation-delay: 1.8s;
      }
      &:nth-child(3) {
        right: 1.3%;
        transform: translateX(-75rem);
        animation-name: appearLetter;
        animation-duration: 1.8s;
        animation-delay: 1.2s;
      }
      &:nth-child(4) {
        right: 2.6%;
        transform: translateX(-62.5rem);
        animation-name: appearLetter;
        animation-duration: 2.4s;
        animation-delay: .6s;
      }
      &:nth-child(5) {
        right: 4.2%;
        transform: translateX(-50rem);
        animation-name: appearLetter;
        animation-duration: 3s;
        animation-delay: 0s;
      }
      &:nth-child(6) {
        right: 2.6%;
        height: 100%;
        animation-name: show;
        animation-duration: 1s;
      }
      &:nth-child(7) {
        right: 2.3%;
        height: 61%;
        transform: translateX(62.5rem);
        animation-name: appearLetter;
        animation-duration: 2.4s;
        animation-delay: .6s;
      }
      &:nth-child(8) {
        right: 1.4%;
        transform: translateX(75rem);
        animation-name: appearLetter;
        animation-duration: 1.8s;
        animation-delay: 1.2s;
      }
      &:nth-child(9) {
        right: .6%;
        transform: translateX(87.5rem);
        animation-name: appearLetter;
        animation-duration: 1.2s;
        animation-delay: 1.8s;
      }
      &:nth-child(10) {
        right: -.1%;
        transform: translateX(100rem);
        animation-name: appearLetter;
        animation-duration: .9s;
        animation-delay: 2.1s;
      }
    }
    &-logo {
      height: 100%;
      animation-name: logoFlash;
      animation-duration: 2.5s;
      animation-delay: 5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
  &-subtitle {
    position: absolute;
    right: 7.125rem;
    bottom: 26.25rem;
    animation-name: logoFlash;
    animation-duration: 2.5s;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    &-text {
      color: var(--home-subtitle-color);
      font-family: Boing;
      font-size: 3.75rem;
    }
  }
  &-credits {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 3.875rem;
    opacity: 0;
    animation-name: show;
    animation-duration: 3.5s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
    &-text {
      margin: 0;
      color: var(--home-text-color);
      font-size: 3.187rem;
      font-family: JosefinSans;
      line-height: .9;
      opacity: .75;
    }
  }
}

@keyframes backgroundColor {
  40% {
    background-color: var(--initial-home-background);
  }
  41% {
    background-color: var(--flash-home-background);
  }
  42% {
    background-color: var(--initial-home-background);
  }
  62% {
    background-color: var(--initial-home-background);
  }
  100% {
    background-color: var(--final-home-background);
  }
}

@keyframes appearLetter {
  to {
    transform: translateX(0);
  }
}

@keyframes logoFlash {
  75% {
    filter: drop-shadow(0 0 2rem #f6f274) drop-shadow(0 0 3rem #f6f274);
  }
  100% {
    filter: drop-shadow(0 0 1rem #f6f274) drop-shadow(0 0 3rem #f6f274);
  }
}